/* * {
  border: 1px solid purple;
} */
body {
  margin: 0;
  padding: 10px;
  /* width: 100%; */
}

.container {
  height: 100%;
  padding: 5%;
  /* background-color: skyblue; */
  margin: auto;
}

.inner {
  padding: 20px;
  /* background-color: blueviolet; */
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: auto;
}

.heading {}

.Image {
  width: 100%;
  height: 300px;
  background-image: url("./Assets/conference.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.note {
  background-color: rgb(253, 228, 224);
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
}

.note-text {
  font-size: 18px;
  align-self: center;
  padding: 0px 10px;
  color: rgb(77, 70, 69);
}

.inputfield {
  padding: 0px 5px;
  width: 100%;
}
.lebleText{
  margin-bottom: 6px;
  font-size: 14px;
}
.input {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  color: black;
  margin: auto;
}

.input2 {
  /* background-color: red; */
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  color: black;
}

.input3 {
  /* background-color: red; */
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  color: black;
}

@media screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .main>TextField {
    width: 100%;
  }

  .input {
    display: flex;
    flex-direction: column;
  }

  .input2 {
    display: flex;
    flex-direction: column;
  }

  .input3 {
    display: flex;
    flex-direction: column;
  }

  .checkbox {
    display: flex;
    flex-direction: column;
  }

  .inputfield {
    margin: 0px;
  }
}

.checkbox {
  display: flex;
  justify-content: space-between;
}

.button {
  width: auto;
  height: auto;
  padding: 5px;
  border-radius: 50px;
  background-color: rgb(63, 176, 41);
}

.main {
  display: flex;
  gap: 20px;
}

.errText {
  color: red;
  font-size: smaller;
  margin: 5px;
}
.lebleBrand{
  margin-bottom: 4px;
}